.puzzle-loading-container {
    /* Center the content */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #262e3e; /* A dark background for a hacking vibe */
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
  }
  
  .scrolling-text {
    overflow: hidden;
    white-space: nowrap;
    width: 80%;
  }
  
  .scrolling-text p {
    display: inline-block;
    /* Adjust font size and other styling as needed */
    font-size: 1.2rem;
    animation: scrollText 3s linear infinite;
    /* The animation duration here should match your fake delay for a consistent feel */
  }
  
  /* Define the keyframes for the scrolling effect */
  @keyframes scrollText {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  