input[type="text"], [type="select"], [type="number"] {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    background-color: #3b3b3b;
    font-size: 16px;
}
.session-details-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .session-form {
    flex: 1 1 20%;
    max-width: 800px;
  }
  
  .layer-cards-container {
    flex: 2 1 400px;
    padding: 20px;
  }

  .layer-card {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    background-color: #343a40;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between
  }
  .ql-snow {
    background-color: #242424;
  }

  .ql-snow .ql-picker-options{
    background-color: rgb(68, 68, 68)!important;
  }
  .ql-snow .ql-picker{
    color: #fff!important;
  }

  .ql-stroke {
    stroke: #fff!important;
  }

  .ql-fill {
    fill: #fff!important;
  }
  
  
  @media (max-width: 767px) {
    .session-details-container {
      flex-direction: column; /* stack vertically on mobile */
    }
    .session-form {
      max-width: 100%;
    }
    .layer-cards-container {
      max-width: 100%;
    }

    .layer-card {
        width: 120px;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 8px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between
      }
  }