.session-details-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .session-form {
    flex: 1 1 300px;
    max-width: 400px;
  }
  
  .layer-cards-container {
    flex: 2 1 400px;
    padding: 20px;
  }

  .layer-card {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between
  }
  
  
  @media (max-width: 767px) {
    .session-details-container {
      flex-direction: column; /* stack vertically on mobile */
    }
    .session-form {
      max-width: 100%;
    }
    .layer-cards-container {
      max-width: 100%;
    }

    .layer-card {
        width: 120px;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 8px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between
      }
  }