input[type='text'],
[type='select'],
[type='number'] {
  width: 100%;
  font-size: 16px;
  width: 100%;
  padding: 10px 5px;
  background-color: #2c2f31;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Quantico', sans-serif;
}
.session-details-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.session-form {
  flex: 1 1 20%;
  max-width: 500px;
}

.layer-cards-container {
  flex: 2 1 400px;
  padding: 20px;
}

.layer-card {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  background-color: #343a40;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ql-snow {
  background-color: #242424;
}

.ql-snow .ql-picker-options {
  background-color: rgb(68, 68, 68) !important;
}
.ql-snow .ql-picker {
  color: #fff !important;
}

.ql-stroke {
  stroke: #fff !important;
}

.ql-fill {
  fill: #fff !important;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: #15141a;
  width: 90%;
  padding: 16px;
  border-radius: 8px;
  max-height: 90vh;
  overflow-y: auto;
}

.modal-header {
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.modal-actions {
  text-align: right;
  margin-top: 16px;
}

.modal-button {
  margin-left: 8px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-button.cancel {
  background-color: #ccc;
  color: #000;
}

.modal-button.save {
  background-color: green;
  color: #fff;
}

.ql-editor {
  text-align: center;
}

.ql-editor .ql-align-left {
  text-align: left;
}
.ql-editor .ql-align-right {
  text-align: right;
}
.ql-editor .ql-align-center {
  text-align: center;
}
.ql-editor .ql-align-justify {
  text-align: justify;
}

.ql-editor img,
.ql-editor iframe.ql-video {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  .session-details-container {
    flex-direction: column; /* stack vertically on mobile */
  }
  .session-form {
    max-width: 100%;
  }
  .layer-cards-container {
    max-width: 100%;
  }

  .layer-card {
    width: 120px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
