.custom-video-container {
  display: inline-block;
  position: relative;
  margin: 8px 0;
}

.custom-video-container iframe.ql-video {
  display: block;
}

.video-remove-button {
  font-size: 14px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}
